<main>

<h2>Find a Work Gig</h2>

<form action="/api/search" method="GET">
{{!-- <form> --}}
    <fieldset>
        <legend>find work</legend>
        <label for="searching"> ✱ </label>
        <input 
            type="search" 
            name="searching"
            placeholder="enter one technology"
            autocomplete="off"
        />
        <input type="submit" value="SEARCH">
    </fieldset>
</form>

</main>