<header>
    <h1>The Dream Work</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/work">Job Listings</a></li>
            <li><a href="/work/add">Work for Hire</a></li>
        </ul>
    </nav>
</header>

<hr>